@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body { 
    font-family: Montserrat, Calibri;
}

header { 
    font-size: 36px;
    text-align: center;
    color: hsl(0,0%,20%)
}

.board {
    margin: 3em auto 0 auto;
    box-sizing: border-box;
    width: 300px;
    background: hsl(0,0%,70%);
    cursor: pointer;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
}

.box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: hsl(0,0%,20%);
    transition: all 0.3s ease;
    

    &:hover {
        background: hsl(0,0%,95%);
        transition: all 0.3s ease-in-out;
    }

    &.o::before {
        content: '\25EF';
    }

    &.x::before {
        content: '\2715';
    }
}

.winner {
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
}
