@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  background-color: hsl(0,0%,40%)
}

::selection {
  color: white;
  background-color:  hsl(50,80%,50%);;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  background-color: hsl(0,0%,85%);
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.url {
  border: 1px solid hsl(0,0%,60%);
  border-radius: 3px;
  width: 400px;
  min-width: max-content;
  display: inline-block;
  padding: 5px 15px;
  background-color: white;
  text-align: left;
  color: hsl(0,0%,30%)
}

nav {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsl(180,70%,30%);
}

.link {
  border: none;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

nav > .link {
  color: white;
  font-size: 32px;
  padding-left: 100px;
  padding-right: 50px;
}

nav > .link:hover {
  color: hsl(50,80%,50%);
}

article > .link {
  font-size: 22px;
  padding-top: 20px;
  color: hsl(180,70%,30%);
}

article > .link:hover {
  color: hsl(50,80%,40%);
}

main {
  min-height: 500px;
  padding: 40px 20px;
}

footer {
  background-color: hsl(180,70%,30%);
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
