@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-col-primary: hsl(170,50%,60%);
$font-col-secondary: hsl(40,50%,60%);

body {
  margin: 0;
  background-color: hsl(170,30%,10%);
  color: $font-col-primary;
  font-family:'Montserrat', 'Calibri';
  font-size: 28px;
}

a {
  &:link, &:visited, &:active {
    color: $font-col-primary;
    text-decoration: none;
  }
  &:hover {
    color: $font-col-secondary
  }

}