.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: hsl(0,0%,30%);
}
#chart {
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}